---
import Layout from "@/layouts/Layout.astro";
import cv from "@/data/cv.json";
import CommandMenu from "@/components/CommandMenu.astro";

import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Skills from "@/components/sections/Skills.astro";
import Projects from "@/components/sections/Projects.astro";
---

<Layout title=`${cv.basics.name} | ${cv.basics.label}`>
  <main class="container space-y-6">
    <Hero />
    <About />
    <Experience />
    <Skills />
    <Projects />
  </main>

  <CommandMenu />
</Layout>

<style>
  .container {
    margin: 0 auto;
    max-width: 48rem;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    .container {
      padding: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .container {
      padding: 2rem;
    }
  }
</style>
